.usercomments-container {
  padding: 16px;
}

.usercomment-card {
  padding: 8px;
  margin-bottom: 16px;
  transition: transform 0.15s ease-in-out;
}

.usercomment-card:hover {
  transform: scale(1.01);
}
